
@{
    ViewBag.Title = "Structure Engineering";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- Start Page Title Area Area -->
<div class="page-title-area page-title-bg4 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Services Details</h2>
                    <p>We Provide Passion Fueled Interior Services</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area Area -->
<!-- Start Services Details Area -->
<section class="services-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="services-details-desc">
                    <div class="services-details-image">
                        <img src="~/Content/assets/img/services-img1.jpg" alt="image">
                    </div>

                    <h3>Structure Engineering</h3>

                    <p>Our team of structural engineers and designers leverage their “out of the box” creativity to develop and implement cost effective, intuitive, robust solutions for structural challenges. From reinforcing an existing building column, to designing the foundations and steel for a multi story heavy industrial processing building, we have the skill set, knowledge base, and experience to fill your structural needs, large or small. Equally, we make sure that our structural engineers work closely with clients and collaborators and stay up to date with industry issues so that they can innovate in response to real-world challenges and constraints.</p>



                    <div class="services-details-features">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <ul class="services-features-list">
                                    <li><i class="fas fa-check"></i> Functionality</li>
                                    <li><i class="fas fa-check"></i> Safety and Structural Integrity</li>

                                </ul>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <ul class="services-features-list">
                                    <li><i class="fas fa-check"></i>Aesthetics</li>
                                    <li><i class="fas fa-check"></i> Sustainability</li>

                                </ul>
                            </div>
                        </div>
                    </div>


                    <ul class="wp-block-gallery columns-3">
                        <li class="blocks-gallery-item">
                            <figure>
                                <img src="~/Content/assets/img/services-img2.jpg" alt="image">
                            </figure>
                        </li>

                        <li class="blocks-gallery-item">
                            <figure>
                                <img src="~/Content/assets/img/services-img4.jpg" alt="image">
                            </figure>
                        </li>

                        <li class="blocks-gallery-item">
                            <figure>
                                <img src="~/Content/assets/img/services-img3.jpg" alt="image">
                            </figure>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <aside class="widget-area" id="secondary">

                    <section class="widget widget_services_list">
                        <h3 class="widget-title">More Services</h3>

                        <ul>
                            <li><a href="~/Service/Architecture" >Architecture <i class="flaticon-right-chevron"></i></a></li>
                            <li><a href="#"class="active">Structure Engineering <i class="flaticon-right-chevron"></i></a></li>
                            <li><a href="~/Service/Electrical">Electrical <i class="flaticon-right-chevron"></i></a></li>
                            <li><a href="~/Service/Plumbing">Plumbing <i class="flaticon-right-chevron"></i></a></li>
                            <li><a href="~/Service/ProjectManagement">Project Management <i class="flaticon-right-chevron"></i></a></li>
                            <li><a href="~/Service/Construction">Construction <i class="flaticon-right-chevron"></i></a></li>
                        </ul>
                    </section>

                    <section class="widget widget_download">
                        <h3 class="widget-title">Download</h3>

                        <ul>
                            <li><a href="#">Our Brochure Pdf <i class="far fa-file-pdf"></i></a></li>
                            <li><a href="#">Our Iso Certificate <i class="far fa-file-alt"></i></a></li>
                            <li><a href="#">Great Technology <i class="far fa-file-alt"></i></a></li>
                        </ul>
                    </section>
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- End Services Details Area -->
<!-- Start Footer Area -->
