@{
    ViewBag.Title = "Projects-Duplex Designer";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- Start Page Title Area Area -->
<div class="page-title-area page-title-bg1 jarallax" data-jarallax='{"speed": 0.2}'>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Projects</h2>
                    <p>Latest From Work</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area Area -->
<!-- Start Projects Area -->
<section class="projects-area ptb-100">
    <div class="container-fluid">
        <div class="row m-0">
            <div id="projects-container" class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-projects-box bg-1">
                        <div class="projects-content">
                            <h3>Interior Design</h3>
                            <span class="category">Architecture</span>
                        </div>

                        <a href="#" class="details-btn"></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-projects-box bg-2">
                        <div class="projects-content">
                            <h3>Classic Interiors</h3>
                            <span class="category">Design</span>
                        </div>

                        <a href="#" class="details-btn"></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-projects-box bg-3">
                        <div class="projects-content">
                            <h3>Design Vidal</h3>
                            <span class="category">Interior</span>
                        </div>

                        <a href="#" class="details-btn"></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-projects-box bg-4">
                        <div class="projects-content">
                            <h3>Picture Perfect</h3>
                            <span class="category">Architecture</span>
                        </div>

                        <a href="#" class="details-btn"></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-projects-box bg-5">
                        <div class="projects-content">
                            <h3>Multi Floor</h3>
                            <span class="category">Duplex</span>
                        </div>

                        <a href="#" class="details-btn"></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-projects-box bg-6">
                        <div class="projects-content">
                            <h3>Duplex</h3>
                            <span class="category">Design</span>
                        </div>

                        <a href="#" class="details-btn"></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-projects-box bg-7">
                        <div class="projects-content">
                            <h3>Interior Design</h3>
                            <span class="category">Architecture</span>
                        </div>

                        <a href="#" class="details-btn"></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-projects-box bg-8">
                        <div class="projects-content">
                            <h3>Classic Interiors</h3>
                            <span class="category">Design</span>
                        </div>

                        <a href="#" class="details-btn"></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-projects-box bg-9">
                        <div class="projects-content">
                            <h3>Design Vidal</h3>
                            <span class="category">Interior</span>
                        </div>

                        <a href="#" class="details-btn"></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-projects-box bg-10">
                        <div class="projects-content">
                            <h3>Picture Perfect</h3>
                            <span class="category">Architecture</span>
                        </div>

                        <a href="#" class="details-btn"></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-projects-box bg-11">
                        <div class="projects-content">
                            <h3>Imagine Gree</h3>
                            <span class="category">Picture</span>
                        </div>

                        <a href="#" class="details-btn"></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-projects-box bg-12">
                        <div class="projects-content">
                            <h3>Multi Floor</h3>
                            <span class="category">Duplex</span>
                        </div>

                        <a href="#" class="details-btn"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-projects-box bg-13">
                        <div class="projects-content">
                            <h3>Multi Floor</h3>
                            <span class="category">Duplex</span>
                        </div>

                        <a href="#" class="details-btn"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-projects-box bg-14">
                        <div class="projects-content">
                            <h3>Multi Floor</h3>
                            <span class="category">Duplex</span>
                        </div>

                        <a href="#" class="details-btn"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-projects-box bg-15">
                        <div class="projects-content">
                            <h3>Multi Floor</h3>
                            <span class="category">Duplex</span>
                        </div>

                        <a href="#" class="details-btn"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-projects-box bg-16">
                        <div class="projects-content">
                            <h3>Multi Floor</h3>
                            <span class="category">Duplex</span>
                        </div>

                        <a href="#" class="details-btn"></a>
                    </div>
                </div>
            </div>
            <div id="pagination-placeholder" class="pagination-area"></div>



        </div>
    </div>
</section>
<!-- End Projects Area -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var itemsPerPage = 6; // Number of items to display per page
        var projectsContainer = $('#projects-container');
        var paginationPlaceholder = $('#pagination-placeholder').first();
        var projects = projectsContainer.children('.col-lg-4');

        // Calculate the total number of pages
        var totalPages = Math.ceil(projects.length / itemsPerPage);

        // Create pagination links dynamically
        var paginationLinks = '';
        for (var i = 1; i <= totalPages; i++) {
            paginationLinks += '<a href="#" class="page-numbers">' + i + '</a>';
        }
        paginationPlaceholder.html(paginationLinks);

        // Function to display items for the selected page
        function showPage(page) {
            projects.hide(); // Hide all projects

            var startIndex = (page - 1) * itemsPerPage;
            var endIndex = startIndex + itemsPerPage;

            projects.slice(startIndex, endIndex).show(); // Show projects for the selected page
        }

        // Show the first page by default
        showPage(1);

        // Handle click event on pagination links
        paginationPlaceholder.on('click', '.page-numbers', function (e) {
            e.preventDefault();
            var page = parseInt($(this).text(), 10);
            showPage(page);
        });
    });
</script>

